<ul class="menu-horizontal">
	<li>
		<a href="/">Home</a>
	</li>
	<li>
		<a href="/">Distribuidor</a>
		<ul class="menu-vertical">
			<li><a href="/dip/alta">Alta</a></li>
			<li><a href="/dip/baja">Baja</a></li>
			<li><a href="/dip/modificacion">Modificar</a></li>
		</ul>
	</li>
	<li>
		<a href="/">Productos</a>
		<ul class="menu-vertical">
			<li><a href="/productos/alta">Alta</a></li>
			<li><a href="/productos/baja">Baja</a></li>
			<li><a href="/productos/modificacion">Modificar</a></li>
		</ul>
	</li>
	<li>
		<a href="/">Archivos .Json</a>
		<ul class="menu-vertical">
			<li><a href="/json/dip" target="_blank">Distribuidor</a></li>
			<li><a href="/json/productos" target="_blank">Productos</a></li>
		</ul>
	</li>
</ul>
