.container-contact{
	background-color: var(--background-contact);
	padding: 5% 2.5%;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	color: rgba(8, 8, 8, 0.9);
	font-family: PT Serif, -apple-system, system-ui, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
}
h1{
    color:rgb(163, 111, 212)
}