.container{
    background-color: var(--background-portfolio);
    text-align: center;
	position: sticky;
	width: 100vh;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1{
    color:rgb(163, 111, 212)
}