:root {
	--background-nav: #827e58;
	--background-home: #595959ce;
	--background-about: #3ff7ff;
	--background-portfolio: #eecd86;
	--background-contact: #b49042;
}

/*# Scrollbar */
::-webkit-scrollbar {
	width: 1px;
}
::-webkit-scrollbar-track {
	background: #ffffff;
}
::-webkit-scrollbar-thumb {
	background: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}
